<%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
        <link rel="stylesheet" href="/css/form.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/product.css">
        <h1>Page Not Found!!</h1>